<div class="info">
    <div class="item">
        <h6>Argumentos de entrada:</h6>
        <p>{{args}}</p>
    </div>
    <div class="item">
        <h6>Sistema operativo:</h6>
        <p>{{so}}</p>
    </div>
    <div class="item">
        <h6>Versión de Node:</h6>
        <p>{{nodever}}</p>
    </div>
    <div class="item">
        <h6>Memoria total reservada:</h6>
        <p>{{rss}}</p>
    </div>
    <div class="item">
        <h6>Path de ejecución:</h6>
        <p>{{path}}</p>
    </div>
    <div class="item">
        <h6>Process ID:</h6>
        <p>{{pid}}</p>
    </div>
    <div class="item">
        <h6>Carpeta del proyecto:</h6>
        <p>{{projectfolder}}</p>
    </div>
</div>