{{#each msg}}
  <div class="msg" user={{this.author.id}}>
    <p class="user">{{ this.author.id }}</p>
    <p class="msg-text">{{ this.text }}</p>
    <p class="timestamp">Enviado: {{ this.timestamp }}</p>
  </div>
{{else}}
  <p>No hay mensajes</p>
{{/each}}