{{#each msg}}
  <div class="msg" user={{this.userId}}>
    <p class="user">{{ this.userId }}</p>
    <p class="msg-text">{{ this.content }}</p>
    <p class="timestamp">Enviado: {{ this.time }}</p>
  </div>
{{else}}
  <p>No hay mensajes</p>
{{/each}}